@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'poppins';
	src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
		/* Primary choice */ url('/fonts/Poppins-Regular.woff') format('woff'),
		/* Secondary choice */ url('/fonts/Poppins-Regular.ttf') format('truetype'); /* Tertiary choice */
	font-weight: 400;
	font-style: normal;
}
